        *{
            margin:0;
            padding:0;
            box-sizing:border-box;
            font-family: Arial, Helvetica, sans-serif;
        }

        body{
            background:#0e0e0e;
            color:white;
        }

        /* NAVBAR */
.navbar{
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:20px 60px;
}

.brand{
    display:flex;
    align-items:center;
    gap:10px;
}

.brand img{
    height:28px;
    width:auto;
    display:block;
}

.logo-text{
    font-size:14px;
    font-weight:600;
    line-height:1.1;
}

.nav-links a{
    color:#ccc;
    text-decoration:none;
    margin:0 15px;
    font-size:14px;
}

.nav-links a:hover{
    color:#1dd1a1;
}

.signup-btn{
    background:#1dd1a1;
    color:black;
    padding:8px 16px;
    border-radius:6px;
    font-size:14px;
}

        /* HERO SECTION */
        .hero{
            padding:60px;
        }

        .hero h1{
            font-size:42px;
            margin-bottom:10px;
        }

        .hero h1 span{
            color:#1dd1a1;
        }

        .hero p{
            color:#aaa;
            margin-top:10px;
        }

        /* COURSE SECTION */
        .section-title{
            padding:0 60px;
            margin-top:40px;
            margin-bottom:20px;
            font-size:18px;
        }

       .courses{
    display:grid;
    grid-template-columns: repeat(4, 1fr);
    gap:25px;
    padding:0 70px;
}

.card{
    background:#111;
    border-radius:14px;
    padding:12px;
}

.card img{
    width:100%;
    border-radius:10px;
}

.badge-row{
    display:flex;
    gap:8px;
    margin:10px 0;
}

.badge{
    font-size:10px;
    padding:4px 7px;
    border-radius:4px;
    font-weight:bold;
}

.live{
    background:#ff4d4d;
    color:white;
}

.lang{
    background:#1dd1a1;
    color:black;
}

.card h3{
    font-size:14px;
    line-height:1.4;
    margin:8px 0;
}

.price{
    font-size:14px;
    margin:8px 0;
}

.price .old{
    color:#777;
    text-decoration:line-through;
    font-size:12px;
    margin-left:6px;
}

.card button{
    width:100%;
    background:#1dd1a1;
    border:none;
    padding:9px;
    border-radius:8px;
    cursor:pointer;
    font-weight:bold;
}


footer{
    background:#0a0a0a;
    margin-top:60px;
    padding:40px 60px;
}

.footer-grid{
    display:grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap:30px;
}

footer h4{
    margin-bottom:10px;
}

footer a{
    display:block;
    color:#aaa;
    text-decoration:none;
    margin-bottom:6px;
    font-size:14px;
}

footer a:hover{
    color:#1dd1a1;
}

.copyright{
    text-align:center;
    margin-top:30px;
    color:#777;
    font-size:13px;
}