{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Courses Page</title>
    <link rel="stylesheet" href="{% static 'course.css' %}">

</head>
<body>
<div class="navbar">
    <div class="brand">
        <img src="./static\Images\logo.png" alt="Sheryians Logo">
        <div class="logo-text">
            sheryians <br> Coding School
        </div>
    </div>

    <div class="nav-links">
        <a href="{% url 'home' %}">Home</a>
        <a href="{% url 'course' %}">Courses</a>
        <a href="#">Bootcamps</a>
        <a href="{% url 'contact' %}">Contact</a>
        <a href="{% url 'login_view' %}" class="signup-btn">Signup</a>
    </div>
</div>

<!-- HERO -->
<div class="hero">
    <h1>We're not a <span>course factory</span>.</h1>
    <p>We focus on courses that really help.</p>
</div>

<div class="section-title">Courses which do work ↓</div>

<div class="courses">

    <div class="card">
        <img src="./static\Images\cart1.jpeg" alt="">
        <div class="badge-row">
            <span class="badge live">LIVE BATCH</span>
            <span class="badge lang">HINGLISH</span>
        </div>
        <h3>Data Science and Analytics with GenAI</h3>
        <div class="price">
            ₹6999 <span class="old">₹9999</span>
        </div>
        <button>View Details</button>
    </div>

    <!-- CARD 2 -->
    <div class="card">
        <img src="./static\Images\cart2.jpeg" alt="">
        <div class="badge-row">
            <span class="badge live">LIVE BATCH</span>
            <span class="badge lang">HINGLISH</span>
        </div>
        <h3>Job Ready AI Powered Cohort: DSA + Aptitude</h3>
        <div class="price">
            ₹5999 <span class="old">₹11999</span>
        </div>
        <button>View Details</button>
    </div>
    <div class="card">
        <img src="./static\Images\cart3.jpeg" alt="">
        <div class="badge-row">
            <span class="badge live">LIVE BATCH</span>
            <span class="badge lang">HINGLISH</span>
        </div>
        <h3>DSA Domination Cohort</h3>
        <div class="price">
            ₹6600 <span class="old">₹9999</span>
        </div>
        <button>View Details</button>
    </div>
    <div class="card">
        <img src="./static\Images\cart4.jpeg" alt="">
        <div class="badge-row">
            <span class="badge live">LIVE BATCH</span>
            <span class="badge lang">HINGLISH</span>
        </div>
        <h3>Job Ready AI Powered Cohort: Web + DSA</h3>
        <div class="price">
            ₹5999 <span class="old">₹11999</span>
        </div>
        <button>View Details</button>
    </div>
    <div class="card">
        <img src="./static\Images\cart5.jpg" alt="">
        <div class="badge-row">
            <span class="badge lang">HINDI</span>
        </div>
        <h3>Three.js Domination</h3>
        <div class="price">
            ₹2499 <span class="old">₹4500</span>
        </div>
        <button>View Details</button>
    </div>

    <!-- CARD 6 -->
    <div class="card">
        <img src="./static\Images\cart6.jpeg" alt="">
        <div class="badge-row">
            <span class="badge lang">HINGLISH</span>
        </div>
        <h3>Java & DSA Domination</h3>
        <div class="price">
            ₹4999 <span class="old">₹9000</span>
        </div>
        <button>View Details</button>
    </div>
    <div class="card">
        <img src="./static\Images\cart7.jpeg" alt="">
        <div class="badge-row">
            <span class="badge lang">HINGLISH</span>
        </div>
        <h3>Aptitude & Reasoning for Campus Placements</h3>
        <div class="price">
            ₹1100 <span class="old">₹4000</span>
        </div>
        <button>View Details</button>
    </div>

    <!-- CARD 8 -->
    <div class="card">
        <img src="./static\Images\cart8.jpg" alt="">
        <div class="badge-row">
            <span class="badge lang">HINDI</span>
        </div>
        <h3>Front-End Domination: Create Anything with Code</h3>
        <div class="price">
            ₹3999 <span class="old">₹7000</span>
        </div>
        <button>View Details</button>
    </div>

</div>

<footer>
    <div class="footer-grid">
        <div>
            <h4>Company</h4>
            <a href="#">About</a>
            <a href="#">Support</a>
            <a href="#">Privacy Policy</a>
            <a href="#">Terms</a>
        </div>

        <div>
            <h4>Community</h4>
            <a href="#">Discord</a>
            <a href="#">Jobs</a>
        </div>

        <div>
            <h4>Get in Touch</h4>
            <a href="#">support@email.com</a>
            <a href="#">+91 99999 99999</a>
        </div>
    </div>

    <div class="copyright">
        © 2025 Coding School. All rights reserved.
    </div>
</footer>

</body>
</html>
